<div class="container">
  <img src="../../../assets/img/logo_simple.png" class="img-fluid" />
  <div class="container interno">
    <h1 class="texto">Bienvenido</h1>
  </div>
  <div class="container texto-agregado">
    <b>
      En PETS CLINIC contamos con un equipo de médicos profesionales
      capacitados para ofrecer un excelente servicio a tus mascotas
      ofreciendoles calidad de vida mediante una atención personalizada
      brindando procedimientos de rutina y diagnosticos oportunos para realizar
      los tratramientos requeridos que tu mascota necesita.
    </b>
  </div>
</div>

<div class="container mascota">
  <img src="../../../assets/img/perro.png" class="img-fluid perro" />
  <button class="btn btn-primary" type="button" (click)="redireccionar()">
    Solicitar Veterinario
  </button>
</div>
