<div class="container">
  <img src="../../../assets/img/logo_simple.png" class="img-fluid" />
  <div class="container interno">
    <h1 class="texto">Bienvenido</h1>
  </div>
  <div class="container texto-agregado">
    <b>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur unde
      optio dolore ipsum tempora mollitia laudantium. Tempore perferendis
      molestias provident nulla cupiditate eligendi, temporibus qui
      consequuntur, odit, fugiat consequatur ea?
    </b>
  </div>
</div>

<div class="container mascota">
    <img src="../../../assets/img/perro.png" class="img-fluid perro" />
    <button class="btn btn-primary" type="button" (click)="redireccionar()">Solicitar Veterinario</button>
</div>
